<div class="box">
    <h2>About Me</h2>
    <img src="{{asset "images/brixton-avatar.jpg"}}" />
    <p>Hello My name is Rhiannon. Here information about me. Ask Joel to change this.
    </p>
    <ol>
    	<li>change about me</li>
    	<li>add your instagram account</li>
    	<li>add twitter account</li>
    	<li>add other content pages you desire</li>
    	<li>get a domain name</li>
    </ol>
</div>
