<div class="box">
    <h2>Purchase the theme</h2>
    <p>If you come all the way down here, you probably like our Brixton theme. To help you find where you can buy it, we prepared a solution for that also. Simply click the button below. </p>
    <br/><button class="btn btn-coral text-centered upper width-70">Purchase Brixton</button>
</div>
