<div class="box">
    <h2>About Me</h2>
    <img src="{{asset "images/brixton-avatar.jpg"}}" />
    <p>Hello, my name is Brixton. I am a blogger living in New York.
        This is my blog, where I post my photos, fashion trends and tips about the fashion world.
        Never miss out on new stuff.
    </p>
</div>
