<div class="box search">
    <form>
      <input id="search-field" type="text" class="input-big width-65" placeholder="Search" />
      <input class="btn btn-big btn-coral" type="submit" value="search">
    </form>
</div>
