<div class="units-row end copyright">
    <div class="units-container">
        <div class="unit-50">
            © 2015 copyright ATOMIC THEMES // All rights reserved // Privacy Policy
        </div>
        <div class="unit-50 text-right">
            Brixton ghost blog theme was crafted by Atomic Themes
        </div>
    </div> {{!-- end of units-container --}}
</div> {{!-- end of units-row --}}
