<footer>
    <h2>Follow me on Instagram</h2>
    <div id="instafeed" class="blocks-8"></div>
    {{!-- INSTANSIVE WIDGET - UNCOMMENT THIS IF YOU WANT TO USE IFRAME AND AVOID LOGINS HASSLE --}}
    {{!-- <script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/4064c33b5c5a435d11110af549dd7caa17ac586b.html" id="instansive_4064c33b5c" name="instansive_4064c33b5c"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> --}}
    <div class="units-row end">
        <div class="units-container">
            <div class="unit-90 unit-centered text-centered ">
                <p class="quote">“I started with Brixton to provide you with <a href="#">daily fresh new ideas</a> about trends. It is a very clean and elegant Wordpress Theme suitable for every blogger. Perfect for sharing your <a href="#">lifestyle.</a>”</p>
                <img src="{{asset "images/brixton-footer-logo.png"}}"/>
            </div>
        </div> {{!-- End of units-container --}}
    </div> {{!-- End of units-row --}}
</footer>
{{> footer/copyright}}
