<div class="units-row top-bar end">
    <div class="units-container">
        <header class="group">
            {{! The tag below includes the navigation - ../navigation.hbs }}
            {{navigation}}
            <nav class="navbar navbar-right socials">
                <ul>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-slack"></i></a></li>
                </ul>
            </nav>
        </header>{{!-- End of header --}}
    </div>{{!-- End of units-container --}}
</div>{{!-- End of units-row --}}
