<div class="units-row end copyright">
    <div class="units-container">
        <div class="unit-50">
            © 2016 copyright Rhiannon Carpentier // All rights reserved // Privacy Policy
        </div>
        <div class="unit-50 text-right">
            Created with &#10084; by Joel with Ghost blog on Heroku
        </div>
    </div> {{!-- end of units-container --}}
</div> {{!-- end of units-row --}}
